.container {
	padding: 80px 120px;
}

#universidad-equipo{
	background-color: white;
	/* top - right - bottom - left */
	margin: 0px 0px 120px 0px;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: #db5c24;
}

.NombreEquipo {
	color: #db5c24;
}

.carousel-inner img {
	-webkit-filter: grayscale(15%);
	filter: grayscale(15%);
	width: 100%;
	margin: auto;
}

.carousel-caption h3 {
	color: #db5c24 !important;
}

@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
}

#testimonios{
	background-color: #FAFAFA;
}

#testimonio_1, #testimonio_2, #testimonio_3, #testimonio_4{

}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}