* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body{
  background-color: grey;
  width: 1400px;
  height: 2700px;
}

.Padre{
  background-color: white;
  width: 1200px;
	height: 2700px;
  margin: 0px 100px 0px 100px;
  position: absolute;
  top: ;
  right: ;
  bottom: ;
  left: ;
}

/* CABECERA
   ======== */

.Cabecera{

}

.Cabecera img{

}

/* EQUIPO
   ====== */

.Equipo{
  margin: 0px 100px 0px 100px;
}

.Equipo .row{

}

.Equipo p{
  
}

.nombre_universidad-equipo{

}

.nombre_universidad-equipo h1{
  /* Nombre del equipo */
  color: #db5c24;
}

.nombre_universidad-equipo h3{
  /* Nombre de la universidad de procedencia */
}

/* CORCORTINILLA-INFERIOR-EQUIPOS
   ============================== */
.Cortinilla-inferior-equipos{
  position: absolute;
  top: 900px;
  right: ;
  bottom: ;
  left: ;
}

.Cortinilla-inferior-equipos img{

}


/* GALERIA
   ======= */
.Galeria{
  margin: 0px 100px 0px 100px;
  position: absolute;
  top: 1045px;
  right: ;
  bottom: ;
  left: -100px;
}

.Galeria img{
  width: 1200px;
  height: 900px;
}

.Galeria .item{
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 1200px;
  height: 700px;
}

.Galeria h3{
  color: #db5c24;
}

/* CABECERA-TESTIMONIOS
   ==================== */

.Cabecera-testimonios{
  position: absolute;
  top: 1745px;
  right: ;
  bottom: ;
  left: ;
}

.Cabecera-testimonios img{

}

.Cabecera-testimonios h2{
  color: white;
  margin: 40px 0px 0px 40px;
  position: absolute;
  top: 0px;
  right: ;
  bottom: ;
  left: ;
}

/* TESTIMONIOS
   =========== */

.Testimonios{
  width: 1200px;
  position: absolute;
  top: 1950px;
  right: ;
  bottom: ;
  left: ;
}

/* FOOTER
   ====== */

.Footer-custom{
  width: 1200px;
  margin: 0px 0px;
  position: absolute;
  top: 2250px;
  right: ;
  bottom: ;
  left: ;
}

.Footer-custom h3{
  color: #db5c24;
  text-align: center;
}

.Footer-custom .row{
  min-height: 100px;
}

.CARNET-logo{
  padding: 40px 0px 0px 0px;
}

.SEAT-logo{
  width: 200px;
  height: auto;
}

/* CORTINILLA-INFERIOR
   =================== */

.Cortinilla-inferior{
  position: absolute;
  top: ;
  right: ;
  bottom: 0px;
  left: ;
}

.Cortinilla-inferior img{

}
