*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: 'Segoe UI', 'Ubuntu', 'Noto Sans', sans-serif;
  padding: 15px;
}
h3 {
  color: #333;
  font-size: 22px;
  font-weight: lighter;
  margin: 20px 0;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table thead {
  background-color: #f9f9f9;
  border-bottom: 2px solid #ddd;
}
table thead th {
  color: #555;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  text-transform: uppercase;
}
table tbody td {
  padding: 8px 15px;
}
#actions {
  margin: 20px 0;
  text-align: center;
}
#actions button {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  color: #555;
  font-size: 14px;
  padding: 8px 10px;
}
#actions button:first-child {
  background-color: #2980b9;
  color: #fff;
}
#actions button:nth-child(2) {
  background-color: #27ae60;
  color: #fff;
}
#actions button:last-child {
  background-color: #f39c12;
  color: #fff;
}
li {
  color: #333;
  list-style: none;
}
li::before {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTffz08uHyfXBMRzg63FLRd3dENXSu6QQLXn5h_lfJx4csGSGJ_UA') no-repeat;
  background-size: 10px 10px;
  content: "";
  margin-right: 8px;
  padding-right: 10px;
  vertical-align: sub;
}
input {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  padding: 8px;
}