/*
  ·Propiedades: Son identificadores que indican a las personas qué característica de estilo 
   -----------  (ancho, color de fondo, fuente) queremos cambiar.

  ·Valores: A cada propiedad se le da un valor, que indica cómo queremos cambiar esta 
   -------  característica (por ejemplo qué fuente, qué ancho o qué color usar)
 
   El par formado por una propiedad y un valor se denomina DECLARACIÓN CSS.
   Las declaraciones CSS forman BLOQUES DECORATIVOS. 
   Los bloques de declaraciones CSS emparejados con selectores forman CONJUNTOS DE REGLAS CSS 
   (o simplemente REGLAS CSS).

*/

/* Afecta solo a párrafos */
p {
	background-color: red;
}

/* en los párrafos nos quedamos con los enlaces */ 
p a {
	font-family: verdana;
}

/* afecta a elementos h1, h2 y h3 */
h1, h2, h3 {
	align-content: center;
	text-align: center;
}

body {
	background-color: grey;
}

button {
	align-content: center;	
}

/* solo afectará al elemento div cuyo valor de class (ATRIBUTO de html) sea SoloAEste (VALOR en html) */
div.SoloAEste {
	font-family: cursive ;
}

/* de entre todos los elementos, afecta a quellos cuya clase tiene el valor NEXT */
.next{
	text-shadow: 2px 2px 3px white;
}

.go_to_main{
	text-shadow: 2px 2px 3px white;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Reglas @ 
   ========

   Usadas en CSS para definir metadatos, información condicional u otra información descriptiva. 
   Comienzan con el símbolo (@), seguido del identificador del tipo de regla, luego un bloque 
   sintáctico correspondiente y terminará con un (;). Cada tipo de Regla-@ definido por un 
   identificador dispondrá de su propia sintaxis y semántica internas. Ejemplos:

   - @charset y @import (metadatos)
   - @media o @document (información condicional, llamada también declaraciones anidadas, ver más abajo).
   - @font-face (información descriptiva)

*/

/* importamos el archivo custom.css, seguimos allí con estas cosas para no recargar este documento */
@import "custom.css"; 


