/* Afecta solo a párrafos */
p {
	background-color: red;
}

/* en los párrafos nos quedamos con los enlaces */ 
p a {
	font-family: verdana;
}

h1 {
	align-content: center;
	text-align: center;
}

body {
	background-color: grey;
}

button {
	align-content: center;	
}

/* solo afectará al elemento div cuyo valor de class (ATRIBUTO de html) sea SoloAEste (VALOR en html) */
div.SoloAEste {
	font-family: cursive ;
}